<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>KT Voice Monitoring System</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="assets/plugins/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="assets/css/animate.min.css" rel="stylesheet" />
	<link href="assets/css/style.min.css" rel="stylesheet" />

  <link href="css/jquery-ui.min.css" rel="stylesheet"/>
  <link href="css/tabulator.min.css" rel="stylesheet">
	<!-- ================== END BASE CSS STYLE ================== -->

  <style type="text/css">
      body {
        background: #d9e0e7;
        font-size: 12px;
        font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #707478;
      }
      .table tbody tr td {
        padding:5px 10px 5px 10px;
      }
      .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
      }
      .col-md-6, .col-md-4 {
        padding-left: 0px;
      }
      .form-control {
        height: 28px;
      }
      .btn { 
        padding: 3px 12px
      }
      .alert {
        padding: 15px;
        margin-bottom: 0px;
        border: 1px solid transparent;
        border-radius: 4px;
      }
      .modal-body {
        padding: 5px 15px;
      }
      .modal-footer {
        border-top-color: #e2e7eb;
        padding: 10px 15px 5px;
      }
  </style>
</head>
<body>
    <!-- begin #content -->
    <div id="content" class="content-fluid" style="padding:20px 20px 0px 20px;">
        <!-- begin page-header -->
        <h1 class="page-header">음성 데이터 조회 <small style="color:red">보안 필수</small></h1>
        <!-- end page-header -->
        
        <div class="panel panel-inverse">
            <div class="panel">
                <table class="table" style="margin-bottom: 0px;">
                    <tbody>
                        <tr>
                            <td ><b>검색 시작일자 <span style="color:red">*</span></b></td>
                            <td >
                                <div class="col-md-6 ui-sortable">
                                  <input type="text" id="dt_startDate" class="form-control">
                                </div>
                                <div class="col-md-4 ui-sortable">
                                  <select id="se_startTime" class="form-control">
                                    <option value="00:00:00">0시</option>
                                    <option value="01:00:00">1시</option>
                                    <option value="02:00:00">2시</option>
                                    <option value="03:00:00">3시</option>
                                    <option value="04:00:00">4시</option>
                                    <option value="05:00:00">5시</option>
                                    <option value="06:00:00">6시</option>
                                    <option value="07:00:00">7시</option>
                                    <option value="08:00:00">8시</option>
                                    <option value="09:00:00">9시</option>
                                    <option value="10:00:00">10시</option>
                                    <option value="11:00:00">11시</option>
                                    <option value="12:00:00">12시</option>
                                    <option value="13:00:00">13시</option>
                                    <option value="14:00:00">14시</option>
                                    <option value="15:00:00">15시</option>
                                    <option value="16:00:00">16시</option>
                                    <option value="17:00:00">17시</option>
                                    <option value="18:00:00">18시</option>
                                    <option value="19:00:00">19시</option>
                                    <option value="20:00:00">20시</option>
                                    <option value="21:00:00">21시</option>
                                    <option value="22:00:00">22시</option>
                                    <option value="23:00:00">23시</option>
                                  </select>
                                </div>
                            </td>
                            <td ><b>검색 종료일자 <span style="color:red">*</span></b></td>
                            <td >
                              <div class="col-md-6 ui-sortable">
                                <input type="text" id="dt_endDate" class="form-control">
                              </div>
                              <div class="col-md-4 ui-sortable">
                                <select id="se_endTime" class="form-control">
                                  <option value="00:00:00">0시</option>
                                  <option value="01:00:00">1시</option>
                                  <option value="02:00:00">2시</option>
                                  <option value="03:00:00">3시</option>
                                  <option value="04:00:00">4시</option>
                                  <option value="05:00:00">5시</option>
                                  <option value="06:00:00">6시</option>
                                  <option value="07:00:00">7시</option>
                                  <option value="08:00:00">8시</option>
                                  <option value="09:00:00">9시</option>
                                  <option value="10:00:00">10시</option>
                                  <option value="11:00:00">11시</option>
                                  <option value="12:00:00">12시</option>
                                  <option value="13:00:00">13시</option>
                                  <option value="14:00:00">14시</option>
                                  <option value="15:00:00">15시</option>
                                  <option value="16:00:00">16시</option>
                                  <option value="17:00:00">17시</option>
                                  <option value="18:00:00">18시</option>
                                  <option value="19:00:00">19시</option>
                                  <option value="20:00:00">20시</option>
                                  <option value="21:00:00">21시</option>
                                  <option value="22:00:00">22시</option>
                                  <option value="23:00:00">23시</option>
                                </select>
                              </div>
                          </td>
                        </tr>
                        <tr>
                            <td><b>Device ID (SAID/MAC주소) <span style="color:red">*</span></b></td>
                            <td><input id="tx_deviceId" type="text" class="form-control" placeholder="Device ID 혹은 검색어 중 하나는 필수 입력" value=""></td>
                            <td><b>단말 모델명</b></td>
                            <td>
                              <div class="col-md-6 ui-sortable">
                                <input id="tx_deviceType" type="text" class="form-control" placeholder="예: CT1102" value="">
                              </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="12%"><b>검색어 (음성인식결과) <span style="color:red">*</span></b></td>
                            <td width="30%"><input id="tx_searchWords" type="text" class="form-control" placeholder="Device ID 혹은 검색어 중 하나는 필수 입력" value=""></td>
                            <td width="12%"><b>검색조건</b></td>
                            <td width="30%">
                              <div class="col-md-6 ui-sortable">
                                <select id="se_searchType" class="form-control">
                                    <option value="">-선택-</option>
                                    <option value="full-sentence-with-space">전체일치 (띄어쓰기 O)</option>
                                    <option value="full-sentence-without-space">전체일치 (띄어쓰기 X)</option>
                                    <option value="part-sentence-with-space">부분일치 (띄어쓰기 O)</option>
                                    <option value="part-sentence-without-space">부분일치 (띄어쓰기 X)</option>
                                </select>
                              </div>
                            <td width="6%"  style="text-align: right;">
                                <a id="btn_search" class="btn btn-success m-r-5"><i class="fa fa-search"></i> 검색</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="example-table"></div>
        </div>
    </div>
    <!-- end #content -->

    <!-- #modal-message -->
    <div class="modal-content" id="modal-message" title="PCM Player" style="display:none;">
      <!-- <div class="alert alert-info"> -->
        <div class="modal-header">
        <ul>
          <li><label>음성인식결과&nbsp; : &nbsp;</label><label id="la_sttResult"></label></li>
          <li><label>파일경로&nbsp; : &nbsp;</label><label id="la_filePath"></label></li>
        </ul>
      </div>
      <div class="modal-body">
        <div id="waveform"></div>  
      </div>
      <div class="modal-footer" style="text-align: center;">
          <a href="javascript:;" id = "btn_play" class="btn btn-sm btn-primary"><i class="fa fa-play"></i> Play</a>
          <a href="javascript:;" id = "btn_pause" class="btn btn-sm btn-primary"><i class="fa fa-pause"></i> Pause</a>
      </div>
    </div>
    
    <div id="element"></div>

    <!-- begin #footer -->
    <div id="footer" class="footer-fluid" style="padding: 0px 20px 0px 20px; ">
        Copyright&copy; 2021 kt corp. All rights resereved.
    </div>
    <!-- end #footer -->

    <!-- ================== BEGIN JAVASCRIPT LIBRARY ================== -->
	  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/tabulator.min.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="js/wavesurfer.js"></script>
    <script type="text/javascript" src="js/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="js/local.js"></script>
    <!-- ================== END JAVASCRIPT LIBRARY ================== -->

</body>
</html>
